body{
    background-color: #ffff00;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

hr{
    color: black;
    border: none;
    height: 2px;
    background-color: black;
}

h1{
    padding: 0 0 0 100px;
}

a {
    text-decoration: none;
    display: inline-block;
}


.hxh, .kk, .sote {
    width: 220px;
    height: 330px;
    padding: 20px;
    border-radius: 36px;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}

.hxh:hover, .kk:hover, .sote:hover {
    transform: scale(1.1);
}


footer{
    border-radius: 36px;
    background-color: rgb(159, 235, 18);
    margin: 1000px 0 0 0 ;
    padding: 10px 0 0 0;
}
