body{
   background-color: #ffff00; /* Dein Gelb */
    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px), 
                      linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.logo{
    width: 300px;   
    height: auto;  
   position: fixed; /* Fixiert am Browser-Fenster, nicht an der Seite */
    top: 20px;       /* 20 Pixel Abstand von der Oberkante */
    left: 10px;     /* 20 Pixel Abstand von der rechten Kante */
    z-index: 1000;   /* Sehr wichtig: Legt das Logo ÜBER alles andere (Text, Bilder) */
    cursor: pointer; /* Zeigt an, dass es klickbar ist */
}

hr{
    color: black;
    border: none;
    height: 2px;
    background-color: black;
}

h1{
    padding: 0 0 0 100px;
    color: black;
}

a {
    text-decoration: none;
    display: inline-block;
}


.hxh, .kk, .sote {
    width: 220px;
    height: 330px;
    padding: 20px;
    border-radius: 36px;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    cursor: pointer;
}

.hxh:hover, .kk:hover, .sote:hover {
    transform: scale(1.1);
}



{
    border-radius: 36px;
    background-color: rgb(159, 235, 18);
    margin: 1000px 0 0 0 ;
    padding: 10px 0 0 0;
}
