body{
    background-color: #ffff00;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    margin: 67px;
    padding: 0 0 0 100px;
}

.hxh{
    margin: 20px;
border-radius: 20px;
transition: transform 0.3s ease-in-out;
display: flex;
}

.hxh:hover{
    transform: scale(1.1)
    }